text {
    font: 10px sans-serif;
}

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}

hr.star {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 350px;
    margin: 25px auto 30px;
}
hr.star:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
}
hr.star {
    border-color: #2C3E50;
}
hr.star:after {
    background-color: white;
    color: #2C3E50;
}